
body{
	margin: 0.5in;
	padding: 0;
}

#date{
	margin-top: 0px;
	font-family:times new Roman, Times;
	font-weight:bold;
	text-align:right;
}
.reqto{
	margin-top:40px;
	padding:0;
	font-family:times new Roman, Times;
	font-weight:bold;
	text-align:left;
}

.companyName{
	margin-top:40px;
	width:100%;
	display:-ms-grid;
	display:grid;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	text-align:center;
	text-transform:uppercase;
}
.companyAddress{
	margin-top:5px;
	width:100%;
	display:-ms-grid;
	display:grid;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	text-align:center;
}
.subj{
	text-align:center;

}

.info{
text-align:right;box-sizing:border-box;


}
.info .name{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	margin:0;

}
.info .name .personName{
	padding-left:10px;
}
.info .sign{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	margin:0;

}
.info .sign .sign-space{
	padding-left:10px;
	margin:0;
}

.sup-sign {
	margin-top:120px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.sup-sign .first{
	padding:20px;
}.sup-sign .second{
	padding:20px;
}
.sup-sign  p{
	margin:0;
	margin-bottom:5px;
}